.jaipur-img{
    height:350px;
    width:auto;
    background-color: bisque;
    display: block;
    margin: 0 auto;
}

.poja-photo{
    height:350px;
    width:auto;
    background-color: bisque;
    display: block;
    margin: 0 auto;
    

}

